@font-face {
  src: url(fonts/Charlie\ Brown\ M54.ttf);
  font-family: charlie;
}
body {
  margin: 0;
}
html {
  width: 100vw;
  overflow-x: hidden;
}

.motto {
  font-family: "Satisfy", cursive;
  font-size: 10px;
  text-align: center;
  text-decoration: none;
  color: black;
  padding: 4px;
}
/* The Heading */
header {
  font-family: charlie;
  text-align: center;
  padding-top: 35px;
  font-size: 55px;
}
.heading {
  font-family:"Cormorant Garamond", serif;
  text-align: center;
  padding-top: 35px;
  font-size: 55px;
}
.seeall {
  font-family:"Cormorant Garamond", serif;
  text-align: center;
  padding-top: 35px;
  font-size: 55px;
}
#test1 {
  display: none;
}

.img-hover-zoom {
  height: 300px; /* Modify this according to your need */
  overflow: hidden; /* Removing this will break the effects */
}

.img-hover-zoom--slowmo img {
  transform-origin: 50% 65%;
  transition: transform 5s, filter 3s ease-in-out;
  filter: brightness(110%);
}

/* The Transformation */
.img-hover-zoom--slowmo:hover img {
  filter: brightness(100%);
  transform: scale(1.2);
}

a.bounce:hover {
  padding-bottom: 20px;
}

/* Responsive Navbar  */
.rc_nav {
  overflow: hidden;
  text-align: center;
  z-index: 6;
}
.rc_nav a {
  display: inline-block;
  margin-right: -4px; /* inline-block gap fix */
  color: black;
  padding: 15px 15px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-transition: background 0.3s linear;
  -moz-transition: background 0.3s linear;
  -ms-transition: background 0.3s linear;
  -o-transition: background 0.3s linear;
  transition: background 0.3s linear;
  z-index: 9;
}

.rc_nav .icon {
  display: none;
}

.rc_content {
  text-align: center;
  padding-left: 14px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 100px;
  color: #8e909b;
}

@media screen and (max-width: 820px) {
  .rc_nav a {
    display: none;
  }
  .rc_nav a.icon {
    float: right;
    display: block;
    width: 60px;
  }
}

@media screen and (max-width: 820px) {
  .rc_nav.responsive {
    position: relative;
    top: 10px;
  }
  .rc_nav.responsive .icon {
    float: right;
    display: block;
  }
  .rc_nav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
}
/* Responsive Navbar ends */

/* Slider */

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

/* Style the container/contact section */
#contact {
  border-radius: 5px;
  background-color: white;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  #contact .column {
    width: 100%;
    margin-top: 0;
  }
}

/* Style inputs */
input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Style the submit button */
input[type="submit"] {
  width: 100%;
  background-color: lightskyblue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Add a background color to the submit button on mouse-over */
input[type="submit"]:hover {
  background-color: #45a049;
}
