body{
            background: #262626;
        }

.btn.btn-danger:hover{
    background-color: black;

}


        .team-area{
    padding: 60px 0;
}

        .section-heading {
            text-align: center;
            color: #fff;
            margin-bottom: 50px;
            text-transform: uppercase;
            font-size: 65px;
            font-family: bignoodletitling;
            letter-spacing: 5px;
        }

.team-area .card {
    border: none;
    background: #ffffff;
}
.img-area{
    width: 150px;
    height: 150px;
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
}
.team-single:hover .side-two {
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.team-single:hover .side-one {
    transform: rotateY(180deg);
}

.content-area {
    transform: perspective(1000px);
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.side-one {
    position: relative;
    transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.side-two {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    transform: rotateY(-180deg);
}

.side-one,
.side-two {
    backface-visibility: hidden;
    transition: 1s;
    transform-style: preserve-3d;
}

.side-one .card,
.side-two .card {
    min-height: 312px;
}

.side-two .card a {
    font-size: 18px;
    color: brown !important;
}

h4 {
    color:brown !important;
    font-family: BigNoodleTitling;
    letter-spacing: 5px;
    font-size: 25px;
}
p{
    font-family: Merienda;
}

.side-one .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
