.wrapper-slide {
  padding-left: 204px;
  padding-bottom: 50px;
}

.slider {
  width: 100%;
  height: 150px;
  position: relative;
  background: white;
  box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.2);
  display: flex;
  overflow: hidden;
}
.slide {
  height: 150px;
  display: flex;
  align-items: center;
  animation: slideshow 30s linear infinite;
  animation-delay: 10s;
}
.slide img {
  height: 150px;
  width: 150px;
  padding: 0 10px 0 10px;
}
@keyframes slideshow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.slider::before,
.slider::after {
  height: 100px;
  width: 200px;
  position: absolute;
  content: "";
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  z-index: 2;
}
.slider::before {
  left: 0;
  top: 0;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
